<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ghPassword</key>
	<string>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</string>
	<key>ghUserName</key>
	<string>ayu2d2</string>
</dict>
</plist>
